// flex begin
.flex {
  display: flex;
}

.f-c {
  justify-content: center;
  align-items: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-wrap-no {
  flex-wrap: nowrap;
}

.f-dir-col {
  flex-direction: column;
}

.f-ver-c {
  align-items: center;
}

.f-ver-e {
  align-items: flex-end;
}

.f-hor-c {
  justify-content: center;
}

.f-hor-e {
  justify-content: flex-end;
}

.f-hor-sb {
  justify-content: space-between;
}

.f-hor-sa {
  justify-content: space-around;
}

.f-shr-0 {
  flex-shrink: 0;
}

.f-gro-1 {
  flex-grow: 1;
}
// flex end

@for $i from 0 through 100 {
  .mar-#{$i} {
    margin: $i * 2rpx;
  }

  .mar-l-#{$i} {
    margin-left: $i * 2rpx;
  }

  .mar-r-#{$i} {
    margin-right: $i * 2rpx;
  }

  .mar-t-#{$i} {
    margin-top: $i * 2rpx;
  }

  .mar-b-#{$i} {
    margin-bottom: $i * 2rpx;
  }

  .mar-hor-#{$i} {
    margin-left: $i * 2rpx;
    margin-right: $i * 2rpx;
  }

  .mar-ver-#{$i} {
    margin-top: $i * 2rpx;
    margin-bottom: $i * 2rpx;
  }

  .pad-#{$i} {
    padding: $i * 2rpx;
  }

  .pad-l-#{$i} {
    padding-left: $i * 2rpx;
  }

  .pad-r-#{$i} {
    padding-right: $i * 2rpx;
  }

  .pad-t-#{$i} {
    padding-top: $i * 2rpx;
  }

  .pad-b-#{$i} {
    padding-bottom: $i * 2rpx;
  }

  .pad-hor-#{$i} {
    padding-left: $i * 2rpx;
    padding-right: $i * 2rpx;
  }

  .pad-ver-#{$i} {
    padding-top: $i * 2rpx;
    padding-bottom: $i * 2rpx;
  }

  .w-#{$i} {
    width: $i * 2rpx;
  }

  .h-#{$i} {
    height: $i * 2rpx;
  }

  .wh-#{$i} {
    width: $i * 2rpx;
    height: $i * 2rpx;
  }

  .br-#{$i} {
    border-radius: $i * 2rpx;
  }
}

@for $i from 0 through 50 {
  .fz-#{$i} {
    font-size: $i * 2rpx;
  }
  .fz-#{$i}-imp {
    font-size: $i * 2rpx !important;
  }
}

// width height begin
.w-50p {
  width: 50%;
}
.w-100p {
  width: 100%;
}

.h-100p {
  height: 100%;
}

.wh-100p {
  width: 100%;
  height: 100%;
}
// width height end

.fw-b {
  font-weight: bold;
}

// text begin
.ta-c {
  text-align: center;
}

.ta-e {
  text-align: end;
}

.td-lt {
  text-decoration: line-through;
}
// text end

// color begin

.col-a {
  color: #aaa;
}

.col-f {
  color: #fff;
}

.col-3 {
  color: #333;
}

.col-4 {
  color: #444;
}

.col-c {
  color: #ccc;
}

.col-5 {
  color: #555;
}

.col-6 {
  color: #666;
}

.col-7 {
  color: #777;
}

.col-9 {
  color: #999;
}

.col-95 {
  color: #959595;
}

.col-7c {
  color: #7c7c7c;
}

.col-10 {
  color: #101010;
}

.col-b5 {
  color: #b5b5b5;
}
// color end

// border begin
.br-50p {
  border-radius: 50%;
}
// border end

.animation-up {
  z-index: 0;
  transform: translateY(100%);
  transition: transform 250ms;
  &.active {
    z-index: 999;
    transform: translateY(0);
  }
}

.dp-b {
  display: block;
}

.input-hidden {
  width: 0;
  height: 0;
  opacity: 0;
}

// 单行省略
.ell-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 第二行省略
.ell-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

// 文本超出换行
.line-feed {
  text-align: justify;
  text-justify: newspaper;
  word-break: break-all;
}

// 背景色
.bgc-f {
  background-color: #fff;
}

// 行高
.lh-1 {
  line-height: 1;
}