.pos-r {
  position: relative;
}
// flex begin
.dp-f {
  display: flex;
}

.f-c {
  justify-content: center;
  align-items: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-wrap-no {
  flex-wrap: nowrap;
}

.f-dir-col {
  flex-direction: column;
}

.f-y-c {
  align-items: center;
}

.f-y-e {
  align-items: flex-end;
}

.f-x-c {
  justify-content: center;
}

.f-x-e {
  justify-content: flex-end;
}

.f-x-sb {
  justify-content: space-between;
}

.f-x-sa {
  justify-content: space-around;
}

.f-shr-0 {
  flex-shrink: 0;
}

.f-gro-1 {
  flex-grow: 1;
}
// flex end

@for $i from 0 through 100 {
  .mar-#{$i} {
    margin: $i * 2rpx;
  }

  .mar-l-#{$i} {
    margin-left: $i * 2rpx;
  }

  .mar-r-#{$i} {
    margin-right: $i * 2rpx;
  }

  .mar-t-#{$i} {
    margin-top: $i * 2rpx;
  }

  .mar-b-#{$i} {
    margin-bottom: $i * 2rpx;
  }

  .mar-x-#{$i} {
    margin-left: $i * 2rpx;
    margin-right: $i * 2rpx;
  }

  .mar-y-#{$i} {
    margin-top: $i * 2rpx;
    margin-bottom: $i * 2rpx;
  }

  .pad-#{$i} {
    padding: $i * 2rpx;
  }

  .pad-l-#{$i} {
    padding-left: $i * 2rpx;
  }

  .pad-r-#{$i} {
    padding-right: $i * 2rpx;
  }

  .pad-t-#{$i} {
    padding-top: $i * 2rpx;
  }

  .pad-b-#{$i} {
    padding-bottom: $i * 2rpx;
  }

  .pad-x-#{$i} {
    padding-left: $i * 2rpx;
    padding-right: $i * 2rpx;
  }

  .pad-y-#{$i} {
    padding-top: $i * 2rpx;
    padding-bottom: $i * 2rpx;
  }

  .w-#{$i} {
    width: $i * 2rpx;
  }

  .h-#{$i} {
    height: $i * 2rpx;
  }

  .wh-#{$i} {
    width: $i * 2rpx;
    height: $i * 2rpx;
  }

  .br-#{$i} {
    border-radius: $i * 2rpx;
  }
}

@for $i from 0 through 50 {
  .fz-#{$i} {
    font-size: $i * 2rpx;
  }
  .fz-#{$i}-imp {
    font-size: $i * 2rpx !important;
  }
}

// width height begin
.w-50p {
  width: 50%;
}

.w-100p {
  width: 100%;
}

.h-100p {
  height: 100%;
}

.wh-100p {
  width: 100%;
  height: 100%;
}
// width height end

.fw-b {
  font-weight: bold;
}
.fw-6 {
  font-weight: 600;
}

// text begin
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}

.ta-e {
  text-align: end;
}

.td-lt {
  text-decoration: line-through;
}
// text end

// color begin

.col-a {
  color: #aaa;
}

.col-f {
  color: #fff;
}

.col-1 {
  color: #111;
}

.col-3 {
  color: #333;
}

.col-4 {
  color: #444;
}

.col-c {
  color: #ccc;
}

.col-5 {
  color: #555;
}

.col-6 {
  color: #666;
}

.col-7 {
  color: #777;
}

.col-9 {
  color: #999;
}

.col-95 {
  color: #959595;
}

.col-7c {
  color: #7c7c7c;
}

.col-10 {
  color: #101010;
}

.col-b5 {
  color: #b5b5b5;
}
// color end

// border begin
.br-50p {
  border-radius: 50%;
}
// border end

.dp-b {
  display: block;
}

.input-hidden {
  width: 0;
  height: 0;
  opacity: 0;
}


// vertical-align
.va-t {
  vertical-align: top;
}

.va-m {
  vertical-align: middle;
}

.ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ell-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ell-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

// 文本超出换行
.line-feed {
  text-align: justify;
  text-justify: newspaper;
  word-break: break-all;
}

.bgc-f {
  background-color: #fff;
}

.bgc-f8 {
  background-color: #f8f8f8;
}

.bgc-trans {
  background-color: transparent;
}

.lh-1 {
  line-height: 1;
}

.click {
  &:active {
    opacity: 0.85;
  }
}

.button-hover {
  position: relative;
  overflow: hidden;
}

.button-hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0;
  background-color: rgba(255,255,255,.3);
}

.bb-ef {
  border-bottom: 1px solid #efefef;
}

.bt-ef {
  border-top: 1px solid #efefef;
}